aiofiles==0.7.0
aiojobs==0.3.0
aioredis==2.0.0a1
asgiref==3.3.4
async-timeout==3.0.1
click==8.0.1
fastapi==0.65.2
fastapi-plugins==0.8.1
gunicorn==20.1.0
h11==0.12.0
importlib-metadata==4.5.0
loguru==0.5.3
psycopg2==2.8.6
pydantic==1.8.2
six==1.16.0
starlette==0.14.2
tenacity==7.0.0
typing-extensions==3.10.0.0
uvicorn==0.14.0
zipp==3.4.1
